# Copia este archivo como ".env" en esta misma carpeta o en la raiz del proyecto.
# Luego ajusta los valores segun tu entorno.

MONGODB_ATLAS_URI=mongodb+srv://edwarforero_db_user:TU_PASSWORD@cluster0.ngqehiw.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=estadisticas_vitales
MONGODB_BATCH_SIZE=10000
